
events/WW1_Russia.txt
common/decisions/RUS.txt
common/ideas/russia.txt
descriptor.mod
gfx/interface/goals/TUR/legacy.dds
gfx/leaders/BUL/BUL_National_Assembly.dds
gfx/leaders/DEN/DEN_christian_x.dds
gfx/leaders/TUR/abdullah.dds
gfx/leaders/TUR/Hasantahsin.dds
gfx/leaders/TUR/Mustafa_enver_cemal.dds
gfx/leaders/TUR/Mustafa_Kemal.dds
gfx/leaders/TUR/osmanfuad.dds
gfx/leaders/TUR/Portrait_OTT_Mustafa_Kemal.tga
gfx/leaders/TUR/TUR_Osman_Fuad.dds
history/countries/RUS - Russia.txt
localisation/ww1_events_l_english.yml
localisation/ww1_focus_l_english.yml
localisation/ww1_victory_points_l_english.yml
localisation/ww1_focus_l_english.yml
